<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - PJSrenovationsWeb</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="~/css/animate.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="~/css/LightBox.css" rel="stylesheet" />

    
</head>

<body>

    <header>
        <!--=======================================================================-->
        <section class="bg-primary mb-4 mt-4">
            <div class="container">
                <!--  START NAVBAR   -->
                <nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark navbar-offcanvas">
                    <a class="navbar-brand mr-auto" asp-area="" asp-page="/Index">Dashboard</a>

                    <!--     If you want to show the button online on mobile use this toggle

                          <button class="navbar-toggler p-0 border-0" type="button" data-toggle="offcanvas">
                            <span class="navbar-toggler-icon"></span>
                          </button>

                    -->
                    <!--      This toggle button is always visible  -->
                    <button class="navbar-toggler d-block" type="button" id="navToggle">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="navbar-collapse offcanvas-collapse">
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item active">
                                <a class="nav-link" asp-area="" asp-page="/Index">Dashboard <span class="sr-only">(current)</span></a>
                            </li>
                            @*<li class="nav-item">
                                    <a class="nav-link" asp-area="" asp-page="/Clients/Index"> Clients</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" asp-area="" asp-page="/Properties/Index">Property</a>
                                </li>*@
                                <li class="nav-item">
                                    <a class="nav-link" asp-area="" asp-page="/AnnualPerformaces">Annual Performance</a>
                                </li>

                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle"
                                   id="clients"
                                   data-toggle="dropdown"
                                   aria-haspopup="true"
                                   aria-expanded="false">Clients</a>
                                <div class="dropdown-menu" aria-labelledby="clients">
                                    <a class="dropdown-item" asp-page="/Clients/Create">New Client</a>
                                    <a class="dropdown-item" asp-page="/Clients/Index">Clients</a>
                                </div>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle"
                                   id="properties"
                                   data-toggle="dropdown"
                                   aria-haspopup="true"
                                   aria-expanded="false">Properties</a>
                                <div class="dropdown-menu" aria-labelledby="properties">
                                    <a class="dropdown-item" asp-page="/Properties/Create">New Property</a>
                                    <a class="dropdown-item" asp-page="/Properties/Index">Properties</a>
                                </div>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle"
                                   id="projects"
                                   data-toggle="dropdown"
                                   aria-haspopup="true"
                                   aria-expanded="false">Projects</a>
                                <div class="dropdown-menu" aria-labelledby="projects">
                                    <a class="dropdown-item" asp-page="/Projects/Create">New Project</a>
                                    <a class="dropdown-item" asp-page="/Projects/Index">Current Projects</a>
                                    <a class="dropdown-item" asp-page="/Projects/CompletedProjects">Completed Projects</a>
                                    @*<a class="dropdown-item" asp-page="/Projects/UpComingProjects">Upcoming Projects</a>*@

                                </div>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle"
                                   id="painting"
                                   data-toggle="dropdown"
                                   aria-haspopup="true"
                                   aria-expanded="false">Painting&amp;Decorating</a>
                                <div class="dropdown-menu" aria-labelledby="painting">
                                    <a class="dropdown-item" asp-page="/PaintingWorks/Create">New Work</a>
                                    <a class="dropdown-item" asp-page="/PaintingWorks/Index">Painting Works</a>
                                    <a class="dropdown-item" asp-page="/SelfEmployedPainters/Index">Painters</a>
                                    <a class="dropdown-item" asp-page="/PaintingJobs/Create">New Job</a>
                                    <a class="dropdown-item" asp-page="/PaintingJobs/Index"> Jobs</a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </nav>

                <!--  END NAVBAR   -->
            </div>
            <!--/.container    -->
        </section>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - PJSrenovationsWeb - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

    <script src="~/js/ProjectCharts.js" asp-append-version="true"></script>

    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/ProjectCountDownTimer.js" asp-append-version="true"></script>
    <script src="~/js/LightBox.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
    @RenderSection("Chart_scripts", required: false)
    @RenderSection("Ajax_Test", required: false)
    @RenderSection("Dashboard_Scripts", required: false)
</body>
</html>
