@page
@model PJSrenovationWeb.Pages.Clients.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1 class="text-dark">Delete Client</h1>

<h3>Are you sure you want to delete this Client?</h3>
<div>
   
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Client.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Client.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Client.FirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Client.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Client.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Client.LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Client.AddressLine1)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Client.AddressLine1)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Client.AddressLine2)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Client.AddressLine2)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Client.City)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Client.City)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Client.County)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Client.County)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Client.Postcode)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Client.Postcode)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Client.Phone)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Client.Phone)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Client.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Client.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Client.EntryDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Client.EntryDate)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Client.ID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
