@page
@model PJSrenovationWeb.Pages.Clients.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Client Details</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Client.Title)
        </dt>
        <dd class="col-sm-4">
            @Html.DisplayFor(model => model.Client.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Client.FirstName)
        </dt>
        <dd class="col-sm-4">
            @Html.DisplayFor(model => model.Client.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Client.LastName)
        </dt>
        <dd class="col-sm-4">
            @Html.DisplayFor(model => model.Client.LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Client.AddressLine1)
        </dt>
        <dd class="col-sm-4">
            @Html.DisplayFor(model => model.Client.AddressLine1)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Client.AddressLine2)
        </dt>
        <dd class="col-sm-4">
            @Html.DisplayFor(model => model.Client.AddressLine2)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Client.City)
        </dt>
        <dd class="col-sm-4">
            @Html.DisplayFor(model => model.Client.City)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Client.County)
        </dt>
        <dd class="col-sm-4">
            @Html.DisplayFor(model => model.Client.County)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Client.Postcode)
        </dt>
        <dd class="col-sm-4">
            @Html.DisplayFor(model => model.Client.Postcode)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Client.Phone)
        </dt>
        <dd class="col-sm-4">
            @Html.DisplayFor(model => model.Client.Phone)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Client.Email)
        </dt>
        <dd class="col-sm-4">
            @Html.DisplayFor(model => model.Client.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Client.EntryDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Client.EntryDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Client.Properties)
        </dt>
        <dd class="col-sm-10">
            <table class="table">
                <tr>
                    <th>Address</th>
                    <th>Location</th>
                    <th>Postcode</th>
                    <th>Size</th>
                </tr>
                @foreach (var item in Model.Client.Properties)
                {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Location)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Postcode)
                </td>
                <td>
                    @Html.DisplayFor(modelltem => item.NumberOfRooms)
                </td>
                <td>
                    <a asp-page="/Properties/Details" asp-route-id="@item.PropertyID">Details</a> |
                    @if (item.Project != null)
                    {
                        <span>
                            <a asp-page="/Projects/Details" asp-route-id="@item.Project.ProjectID">Project</a>
                        </span>
                    }
                    else
                    {
                        <span>
                            <a asp-page="/Projects/Create">New Project</a>
                        </span>
                    }
                </td>
              

            </tr>
                }
            </table>
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Client.ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
