@page
@model PJSrenovationWeb.Pages.PaintingJobs.CreateModel
@using PJSrenovationWeb.Models

@{
    ViewData["Title"] = "Create";
}
<p>@ViewData["Jobid"]</p>
@*<h1>Create</h1>
<div class="row">
    @foreach (var item in Model.JobValues)
    {
        <div class="col-sm-4">
            <span>@item.Key </span> <span>@item.Value</span><br />
        </div>
    
    
}
    </div>

<p>Paint jobid   @Model.jobid</p>

<hr />*@
<section id="edit-painter">
    <header class="text-center">
        <h1 class="col-sm-12 text-center">Create New Job</h1>
    </header>
    <div class="row">
        <div class="col-md-4 offset-lg-4">
            <form method="post" enctype="multipart/form-data" autocomplete="on">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="PaintingJob.WorkID" class="control-label"></label>
                    <select asp-for="PaintingJob.WorkID" class="form-control" asp-items="ViewBag.WorkID"></select>
                </div>
                <div class="form-group">
                    <label asp-for="PaintingJob.SelfEmployedPainterID" class="control-label"></label>
                    <select asp-for="PaintingJob.SelfEmployedPainterID" class="form-control" asp-items="ViewBag.SelfEmployedPainterID"></select>
                </div>
                <div class="form-group">
                    <label asp-for="PaintingJob.UnderCoatType" class="control-label"></label>
                    <select asp-for="PaintingJob.UnderCoatType" class="form-control"
                            asp-items="@Html.GetEnumSelectList<UnderCoatType>()"></select>
                    <span asp-validation-for="PaintingJob.UnderCoatType" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="PaintingJob.UnderCoatName" class="control-label"></label>
                    <input asp-for="PaintingJob.UnderCoatName" class="form-control" />
                    <span asp-validation-for="PaintingJob.UnderCoatName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="PaintingJob.Wall" class="control-label"></label>
                    <input asp-for="PaintingJob.Wall" class="form-control" />
                    <span asp-validation-for="PaintingJob.Wall" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="PaintingJob.Ceiling" class="control-label"></label>
                    <input asp-for="PaintingJob.Ceiling" class="form-control" />
                    <span asp-validation-for="PaintingJob.Ceiling" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="PaintingJob.Door" class="control-label"></label>
                    <input asp-for="PaintingJob.Door" class="form-control" />
                    <span asp-validation-for="PaintingJob.Door" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="PaintingJob.Window" class="control-label"></label>
                    <input asp-for="PaintingJob.Window" class="form-control" />
                    <span asp-validation-for="PaintingJob.Window" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="PaintingJob.Brand" class="control-label"></label>
                    <input asp-for="PaintingJob.Brand" class="form-control" />
                    <span asp-validation-for="PaintingJob.Brand" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="PaintingJob.WallColourName" class="control-label"></label>
                    <input asp-for="PaintingJob.WallColourName" class="form-control" />
                    <span asp-validation-for="PaintingJob.WallColourName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="PaintingJob.WallColourValue" class="control-label"></label>
                    <input asp-for="PaintingJob.WallColourValue" class="form-control" />
                    <span asp-validation-for="PaintingJob.WallColourValue" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="PaintingJob.Finish" class="control-label"></label>
                    <select asp-for="PaintingJob.Finish" class="form-control"
                            asp-items="@Html.GetEnumSelectList<FinishTypes>()"></select>
                    <span asp-validation-for="PaintingJob.Finish" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="PaintingJob.StartDate" class="control-label"></label>
                    <input asp-for="PaintingJob.StartDate" class="form-control" />
                    <span asp-validation-for="PaintingJob.StartDate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="PaintingJob.EndDate" class="control-label"></label>
                    <input asp-for="PaintingJob.EndDate" class="form-control" />
                    <span asp-validation-for="PaintingJob.EndDate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="PaintingJob.ManHours" class="control-label"></label>
                    <input asp-for="PaintingJob.ManHours" class="form-control" />
                    <span asp-validation-for="PaintingJob.ManHours" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="PaintingJob.Stages" class="control-label"></label>
                    <select asp-for="PaintingJob.Stages" class="form-control"
                            asp-items="@Html.GetEnumSelectList<Stages>()"></select>
                    <span asp-validation-for="PaintingJob.Stages" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="@Model.JobImage" class="control-label"></label>
                    <input type="file" asp-for="@Model.JobImage" class="form-control" />
                    <span asp-validation-for="@Model.JobImage" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="PaintingJob.ImageDate" class="control-label"></label>
                    <input asp-for="PaintingJob.ImageDate" class="form-control" />
                    <span asp-validation-for="PaintingJob.ImageDate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-page="Index">Back to List</a>
    </div>
    </section>

    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
